@font-face {
  font-family: Tahoma;
  src: url(../assets/Tahoma\ Regular\ font.ttf);
}

.preview {
  display: flex;
  width: 550px;
  border: 1px solid #1c396b;
  border-radius: 20px;
  height: 200px;
}

.logo {
  position: flex;
  width: 280px;
  align-self: center;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.text-container > p {
  font-family: Tahoma;
  margin: 0;
  display: flex;
  align-items: center;
}

.icon-tel,
.icon-linkedin {
  margin: 0 5px 0 0;
  width: 20px;
  height: 20px;
}

#Name {
  font-size: 24px;
  font-weight: 700;
  color: #1c396b;
}

#Position {
  font-size: 14px;
  font-weight: 500;
  color: #365a8e;
}

#Tel,
#PBX {
  font-size: 12px;
  font-weight: 500;
  color: #365a8e;
}

#Frase {
  margin: 0;
  font-size: 8px;
  width: 250px;
  color: #365a8e;
}

#Phone,
#Telephone {
  width: 15px;
  height: 15px;
  padding-right: 10px;
}
